// Paralax Container
.paralax-container {
  position: absolute !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* App Store Paralax */
.app-store-paralax {
  height: 480px !important;
  @include media-breakpoint-up(md){
    height: 370px !important;
  }
  .dzsparallaxer--target {
    height: 700px !important;
    @include media-breakpoint-up(md){
      height: 600px !important;
    }
  }
}

/* Getting Started 2 Paralax */
.getting-started-2 {
  position: relative;
  height: 500px !important;
  .dzsparallaxer--target {
    height: 700px !important;
  }
  &:after {
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.5);
  }
}

/* Counter Paralax */
.counter-paralax {
  height: 1030px !important;
  @include media-breakpoint-up(md){
    height: 570px !important;
  }
  .dzsparallaxer--target {
    height: 1300px !important;
    @include media-breakpoint-up(md){
      height: 900px !important;
    }
  }
}

/* Counter Paralax 2 */
.counter-paralax-2 {
  .paralax-container {
    top: 54%;
  }
  height: 440px !important;
  @include media-breakpoint-up(md){
    height: 360px !important;
  }
  @include media-breakpoint-up(xl){
    height: 300px !important;
  }
  .dzsparallaxer--target {
    height: 700px !important;
    @include media-breakpoint-up(md){
      height: 620px !important;
    }
    @include media-breakpoint-up(xl){
      height: 480px !important;
    }
  }
}

/* Footer Paralax */
.footer-paralax {
  height: 1100px !important;
  @include media-breakpoint-up(md){
    height: 450px !important;
  }
  .dzsparallaxer--target {
    height: 1100px !important;
    @include media-breakpoint-up(md){
      height: 450px !important;
    }
  }
}

.footer-dark {
  .paralax-container {
    top: 56%;
  }
}
