/* Pagination */
.pagination {
  .page-link {
    border-radius: 0 !important;
    box-shadow: unset;
    transition: all .3s ease-in-out;
    @include media-breakpoint-up(md){
      font-size: 1rem;
    }
  }
}
