// Grid containers
$container-max-widths: (
  sm: 540px,
  md: 750px,
  lg: 970px,
  xl: 1170px
);

// Space
$spacer: 1rem ;
$spacers: ();
$spacers:(
  0: 0,
  1: ($spacer * .31),
  2: ($spacer * .63),
  3: $spacer,
  4: ($spacer * 1.25),
  5: ($spacer * 1.56),
  6: ($spacer * 1.88),
  7: ($spacer * 2.5),
  8: ($spacer * 3.13),
  9: ($spacer * 4.96),
  10: ($spacer * 6.25),
);

// Negative margins
$enable-negative-margins:     true !default;

// Color system
$dark:     #222 !default;
$white:    #fff !default;
$black:    #000 !default;
$gray-200: #f8f8f8 !default;
$gray-300: #e5e5e5 !default;
$gray-600: #848484 !default;
$gray-700: #373c48 !default;


$primary:       #2196f3 !default;
$warning:       #f7c54e !default;
$success:       #22baa0 !default;
$danger:        #f25463 !default;
$light:         $gray-200 !default;
$secondary:     $gray-300 !default;
$text-color:    $gray-600 !default;
$border-color:  $gray-300 !default;


// Theme Color


// Body
$body-color:                $gray-600 !default;


// Style anchor elements.
$link-hover-decoration:             underline !default;
$link-decoration:                   none !default;


// Fonts
$font-family-inherit: inherit !default;

$font-family-mulish: 'Mulish', sans-serif !default;
$font-family-base: $font-family-mulish !default;

$font-family-popins: 'Poppins', sans-serif !default;
$font-family-secondary: $font-family-popins !default;
$font-family-icon: 'FontAwesome' !default;

$font-size-base: .875rem !default;

//headings
$h1-font-size:                $font-size-base * 3.21 !default;
$h2-font-size:                $font-size-base * 2.15 !default;
$h5-font-size:                $font-size-base * 1.20 !default;
$h4-font-size:                $font-size-base * 1.43 !default;

$headings-font-family:        $font-family-secondary !default;
$headings-color:              $dark !default;

// Cards
$card-border-color:           $border-color !default;

// Buttons + Forms
$input-btn-padding-y:         .75rem !default;
$input-btn-padding-x:         1.5rem !default;

$input-btn-padding-y-lg:      1rem !default;
$input-btn-padding-x-lg:      1.5rem !default;

$input-group-addon-color:     $gray-700 !default;

// Buttons
$btn-font-weight:             500 !default;
$btn-font-family:             $font-family-secondary !default;

// Pagination

$pagination-padding-y:              .75rem !default;
$pagination-padding-x:              1rem !default;
$pagination-hover-color:            $white !default;
$pagination-hover-bg:               $primary !default;
$pagination-hover-border-color:     $gray-300 !default;
$pagination-color:                  $dark !default;


// Forms
$input-border-color:                $gray-300 !default;

// Shadow
$box-shadow: 0 0 10px 0 rgba($black, .1) !default;
