/* Border Midum Right */
.border-md-right {
  @include media-breakpoint-up(md){
    border-right: 1px solid $border-color;
  }
}

/* Rounded Medium Left */
.rounded-md-left {
  @include media-breakpoint-up(md){
    border-top-left-radius: .25rem !important;
    border-bottom-left-radius: .25rem !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }
}

/* Border Large Left */
.border-lg-left {
  @include media-breakpoint-up(lg){
    border-left: 1px solid $border-color;
  }
}

/* Border Bottom Color */
.border-bottom-color-transparent {
  border-bottom-color: transparent !important;
}
