/* Button */
.btn {
  text-transform: uppercase;
  font-family: $btn-font-family;
  letter-spacing: 1px;
}

.btn-outline-white {
  border: 2px solid $white;
  color: $white;
  &:hover {
    color: $white;
  }
}

/* Button primary */
.btn-primary {
  color: $white;
  &:hover {
    color: $white;
  }
}

/* Button outline primary */
.btn-outline-primary {
  &:hover {
    color: $white;
  }
}

/* Outline secondary */
.btn-outline-secondary {
  color: lighten($gray-600, 7%);
  &:hover {
    background-color: $primary;
    border-color: $primary;
    color: $white;
  }
  &:focus {
    box-shadow: none;
  }
}

/* button like */
.btn-like {
  background-color: transparent;
  border: none;
  font-size: $font-size-base;
  &:focus {
    outline: unset;
  }
  span {
    color: $text-color;
  }
}

/* Button App Store  */
.btn-app-store {
  border: 1px solid $white;
  display: flex;
  align-items: center;
  background-color: $primary;
  margin-bottom: 1.5rem;
  .icon-listy {
    font-size: 2.75rem;
    color: $white;
    margin-right: .75rem;
  }
  span {
    font-family: $font-family-base;
    font-size: 1rem;
    text-transform: lowercase;
    text-align: left;
    color: $white;
    font-weight: 400;
    line-height: 1;
  }
  strong {
    text-transform: capitalize;
    font-size: 1.625rem;
    line-height: 30px;
    font-weight: 400;
  }
}


/* Filters */
#filters {
  .btn-outline-secondary {

    &.is-checked {
      background-color: $primary;
      color: $white;
    }
  }
}

/* Close Button */
.close-btn {
  position: absolute;
  top: -15px;
  right: 0px;
  width: 30px;
  height: 30px;
  display: block;
  border-radius: 50%;
  background-color: #f25656;
  color: #fff;
  line-height: 30px;
  text-align: center;
  padding: 0;
  opacity: 1;
  box-shadow: 0 0 10px rgba(0,0,0,.5);
  font-size: 0.6875rem;
  border: 0;
}

.btn-outline-secondary:not(:disabled):not(.disabled).active {
  background-color: $primary;
  color: $white;
  border-color: $primary;
}

button:focus {
  outline: 0 auto -webkit-focus-ring-color;
}