/* Input */
.form-control {
  &:focus {
    box-shadow: none;
  }
}

/* Input Number Appearace None  */
input.number-appearance-none[type=number]::-webkit-inner-spin-button,
input.number-appearance-none[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

input[type=number]::-webkit-inner-spin-button {
  display: none;
}

/* Count Input */
.count-input {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  .incr-btn {
    border: 1px solid $border-color;
    padding: 0.4375rem 1.125rem;
    font-size: 1rem;
    font-weight: 700;
    color: $text-color;
    &:hover {
      text-decoration: none;
    }
  }
  .quantity {
    width: 48px;
    height: 40px;
    text-align: center;
    border: 1px solid $border-color;
    margin-left: -0.0625rem;
    margin-right: -0.0625rem;
    padding: 0.9375rem;
    color: $text-color;
  }
}

/* Input Group 1 */
.input-group-1 {
  position: relative;

  @include media-breakpoint-up(md){
    background-color: $white;
  }
  .form-control {
    height: 65px;
    margin-bottom: 1.875rem;
    @include media-breakpoint-up(md){
      margin-bottom: 0;
      background-color: transparent;
    }
  }
  .btn {
    @include media-breakpoint-up(md){
      position: absolute;
      top: 50%;
      right: 7px;
      transform: translateY(-50%);
    }

  }
}

/* Form Group */
.form-group {
  margin-bottom: 1rem;
}

/* Input Group Append */
.input-group-append {
  .btn:focus,
  .btn.focus {
    box-shadow: none;
  }
}

/* Input Group Drage Image */
.form-group-dragable {
  .custom-file-input,
  .custom-file-label {
    height: 170px;
    padding-top: 3.125rem;
    padding-bottom: 3.125rem;
    @include media-breakpoint-up(md){
      padding-top: 4.1875rem;
    }
  }
  .custom-file-input {
    cursor: pointer;
  }
  .custom-file-label {
    text-align: center;
    border: 2px dashed $primary;
    font-size: 1.125rem;
    text-transform: uppercase;
    font-weight: 500;
    font-family: $font-family-secondary;
    background-color: rgba($primary, .05);
    &::after {
      display: none;
    }
  }
}

/* Form Reply */
.form-reply {
  display: none;
  &.show {
    display: block;
  }
}

/* From Video */
.form-video {
  .btn {
    padding: 12px 19px !important;
  }
}

/* Custom File Input */
.custom-file {
  position: relative;
  display: inline-block;
  width: 100%;
  height: calc(1.5em + 1.5rem + 2px);
  margin-bottom: 0;
}

.custom-file-input {
  position: relative;
  z-index: 2;
  width: 100%;
  height: calc(1.5em + 1.5rem + 2px);
  margin: 0;
  opacity: 0;
}

.custom-file-label {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  height: calc(1.5em + 1.5rem + 2px);
  padding: 0.75rem 1.5rem;
  font-weight: 400;
  line-height: 1.5;
  color: $input-group-addon-color;
  background-color: $white;
  border: 1px solid $secondary;
  border-radius: $border-radius;
  &:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    display: block;
    height: calc(1.5em + 1.5rem);
    padding: 0.75rem 1.5rem;
    line-height: 1.5;
    color: $input-group-addon-color;
    content: "Browse";
    background-color: $light;
    border-left: inherit;
    border-radius: $border-radius;
  }
}
